---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>
    <a href='https://mapmyvisitors.com/web/1c7e8'  title='Visit tracker'><img src='https://mapmyvisitors.com/map.png?cl=ffffff&w=200&t=tt&d=YK-uquFuos6zBvPHQgBRCUvAO7mOa1Y915nUwFIZ0sU&co=2d78ad&ct=ffffff'/></a>
    {% include scripts.html %}

  </body>
</html>
